@import "compass";
@import "compass/css3";
@import "compass/css3/user-interface";

@font-face {
  font-family: 'BebasNeueRegular';
  src: url('./../assets/fonts/BebasNeue.otf');
}

html, .ng-view { height: 100%;}
body { height: 100%; margin: 0; padding: 0; width: 100%;}
#map-canvas {
  height: 100%;
  width: 100%;
}
.ng-view{width: 100%;}
.content {
  height: 100%;
}
.hide {
  visibility: hidden;
}
.poster {
  height: 100%;
  width: auto;
  margin: 0 auto;
  display: table;
}

#chart_div {
  display: inline-block;
  position: fixed;
  z-index: 40;
  margin: 24px auto 24px 49px;
  bottom: 0px;
  @include box-shadow();
}

.container{
  width: 460px;
  margin: 24px 5px 30px auto;
  position: fixed;
  top: 0;
  right: 0;

  label {
    width: 420px;
    height: 30px;
    padding: 5px 20px;
    position: relative;
    display: block;
    z-index: 20;
    margin: 0px 0px 0px 0px;

    font-family: 'BebasNeueRegular';
    font-size: 19px;
    color: #2c2826;
    line-height: 35px;

    cursor: pointer;

    background-color: #f5f9c9;
    @include box-shadow();
    @include user-select(none);

    &:hover {
      background-color: #d4e4a3;
    }


  }

  input {
    display: none;
      &:checked {
        & + label, & + label:hover {
          background-color: #58c3d7;
          @include single-box-shadow();
        }
      }





  }

  label:hover:after {
    content: '';
    position: absolute;
    right: 13px;
    top: 7px;
    width: 24px;
    height: 24px;
    background: transparent url('./../assets/images/arrow_down.png') no-repeat center center;
  }

  input:checked + label:hover:after {
    @extend label:hover:after;
    background: transparent url('./../assets/images/arrow_up.png') no-repeat center center;
  }

  input:checked ~ article {
    height: 290px;

  }

  article {
    position: relative;
    margin-top: -1px;
    z-index: 10;
    overflow: hidden;
    height: 0px;

    background-color: #f9efc8;

    font-family: 'BebasNeueRegular';

    @include transition(height 0.3s ease-in-out, box-shadow 0.6s linear);

    .thumb {
      overflow: hidden;
      width: 460px;
      height: 200px;
      border: 1px solid #ccc;

      iframe {

      }
    }

    h4 {
      margin-left: 10px;
      padding: 5px 5px 5px 5px;
      margin: 0px 0px 0px 0px;
    }
  }
}

